#################
# Files
#################
*.class
*.classpath
*.project
*.settings
*.springBeans
nb-configuration.xml
DispatcherServlet-context.xml
#################
# Directories
#################
target/
bin/
